*, *::after, *::before {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  scroll-behavior: smooth;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.nav {
  width: 100%;
  height: 97px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center; }
  .nav-logo {
    max-width: 147px;
    max-height: 26px;
    margin-top: 2px; }
    .nav-logo p {
      max-height: 26px;
      text-decoration: none;
      color: #fff; }
  .nav-icon {
    display: none; }
  .nav-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .nav-links ul li {
      list-style: none; }
      .nav-links ul li p {
        color: #000;
        text-decoration: none;
        font-size: 18px;
        font-weight: 400;
        transition: all .2s ease-in-out; }
        .nav-links ul li p::before {
          content: '<';
          color: transparent;
          font-weight: bold;
          position: relative;
          top: 1px; }
        .nav-links ul li p::after {
          content: '>';
          color: transparent;
          font-weight: bold;
          position: relative;
          top: 1px; }
        .nav-links ul li p:hover {
          color: #f39c12;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out; }
    .nav-links ul li:hover p::before {
      color: #f39c12;
      -webkit-transition: all .1s;
      transition: all .1s; }
    .nav-links ul li:hover p::after {
      color: #f39c12;
      -webkit-transition: all .1s;
      transition: all .1s; }

@media screen and (max-width: 980px) {
  .nav {
    position: fixed;
    background-color: #202022;
    z-index: 9999; }
  .nav .reset {
    display: none; }
  .nav .reset-responsive {
    display: block !important; } }

@media screen and (max-width: 980px) {
  .nav-links ul li p:hover {
    color: #f39c12; } }

@media screen and (max-width: 1160px) {
  .nav-links ul li p {
    font-size: 16px; } }

@keyframes blink {
  0% {
    background-color: #f39c12; }
  49% {
    background-color: #f39c12; }
  50% {
    background-color: transparent; }
  99% {
    background-color: transparent; }
  100% {
    background-color: #f39c12; } }

@media screen and (max-width: 980px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px; }
    .nav-icon {
      display: flex;
      justify-content: center;
      height: 35px;
      width: 40px;
      align-items: center;
      color: #f39c12;
      z-index: 999;
      cursor: pointer; }
    .nav-links {
      position: fixed;
      height: 100vh;
      right: 0;
      top: 0;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-transition: all 1s ease;
      transition: all 1s ease;
      background: #202022;
      padding: 60px 60px;
      margin-top: 0;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .nav-links ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: auto auto auto auto; }
        .nav-links ul li {
          padding: 20px; }
          .nav-links ul li p {
            color: #000;
            font-size: 24px;
            font-weight: 800;
            margin-left: 0; }
            .nav-links ul li p::before {
              display: none; }
            .nav-links ul li p::after {
              display: none; }
  .nav-burger {
    width: 32px;
    height: 5px;
    background: #f39c12;
    position: relative;
    border-radius: 32px;
    overflow: visible;
    cursor: pointer;
    right: 0; }
    .nav-burger:before {
      content: '';
      background-color: #f39c12;
      width: 32px;
      height: 5px;
      background: #f39c12;
      position: absolute;
      border-radius: 32px; }
    .nav-burger:after {
      content: '';
      background-color: #f39c12;
      width: 32px;
      height: 5px;
      background: #f39c12;
      position: absolute;
      top: 11px;
      border-radius: 32px; }
  .nav .burger-open {
    -webkit-animation: midToCross 0.7s ease-in-out forwards;
    animation: midToCross 0.7s ease-in-out forwards; }
    .nav .burger-open:before {
      -webkit-animation: upToCross 0.7s ease-in-out forwards;
      animation: upToCross 0.7s ease-in-out forwards; }
    .nav .burger-open:after {
      -webkit-animation: botToCross 0.7s ease-in-out forwards;
      animation: botToCross 0.7s ease-in-out forwards; }
  .nav .burger-closed {
    -webkit-animation: CrossToMid 0.7s ease-in-out forwards;
    animation: CrossToMid 0.7s ease-in-out forwards; }
    .nav .burger-closed:before {
      -webkit-animation: CrossToUp 0.7s ease-in-out forwards;
      animation: CrossToUp 0.7s ease-in-out forwards; }
    .nav .burger-closed:after {
      -webkit-animation: CrossToBot 0.7s ease-in-out forwards;
      animation: CrossToBot 0.7s ease-in-out forwards; }
  @keyframes upToCross {
    0% {
      -webkit-transform: none;
      transform: none;
      top: -8px; }
    50% {
      -webkit-transform: none;
      transform: none;
      top: 0; }
    100% {
      top: 0;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); } }
  @keyframes midToCross {
    0% {
      background: #f39c12; }
    99% {
      background: transparent; }
    100% {
      background: transparent; } }
  @keyframes botToCross {
    0% {
      -webkit-transform: none;
      transform: none;
      top: 8px; }
    50% {
      -webkit-transform: none;
      transform: none;
      top: 0; }
    100% {
      top: 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); } }
  @keyframes CrossToUp {
    0% {
      top: 0;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    50% {
      -webkit-transform: none;
      transform: none;
      top: 0; }
    100% {
      -webkit-transform: none;
      transform: none;
      top: -8px; } }
  @keyframes CrossToBot {
    0% {
      top: 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    50% {
      -webkit-transform: none;
      transform: none;
      top: 0; }
    100% {
      -webkit-transform: none;
      transform: none;
      top: 8px; } }
  .nav .isOpen {
    -webkit-clip-path: circle(0% at 100% 0%);
    clip-path: circle(0% at 100% 0%); }
  .nav .isClosed {
    -webkit-clip-path: circle(150% at 100% 0%);
    clip-path: circle(150% at 100% 0%); } }
